


$prc:0;
$fiftyPercent: 50;

/* Basics */
@mixin colores($color) {
    @for $i from 1 through 9 {
        div:nth-child(#{$i}) {
            @if $i<5 {
                $prc: 1/$i * $fiftyPercent;
                background: darken($color, $prc - 11) ;
                
            }@else if $i>5 {
                    $prc: ($i * 10) - $fiftyPercent;
                    background: lighten($color, $prc) ;
                
            } @else {
                background: $color ;
            }
        }
    }
}

div {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    margin: 2px;
}

.red {
    @include colores(red);
}
.green {
    @include colores(green);
}
.blue {
    @include colores(blue);
}

